.msg-error{
	color: red; 
	margin-left: 15px; 
	margin-top: 5px;
}

.color-primary{
	background-color: #000 !important
}

.toolbar-background-md {
    background: #000 !important;
}

ion-footer .toolbar-background-md {
    border-color: #b2b2b2 !important;
    background: #f8f8f8 !important;
}

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #FFFFFF !important;
}

.toolbar-title-md{
	color: #FFFFFF !important;
}